<div>
	<h4>This is a test project for front-end developer position at 
		<a href="http://sportbooking.co/">SportBooking</a>
	</h4>
This project assignment is for puspose of assessing knowledge and experience in
front-end programming, analytics and problem-solving. Overall it aims to create a web-application that is divided into 4 programming 
tasks ordered by the level of complexity and covers different areas of web-development, 
such as:
<ul>
  <li>HTML5 and CSS3 features</li>
  <li>Javascript knowledge</li>
  <li>Idiomatic programming</li>
  <li>Unit Testing</li>
  <li>AngularJS framework</li>
  <li>Basic web application hosting</li>
</ul>

<br>
<h4>GitHub Project</h4>
<span>The GitHub source can be found at this <a href="https://github.com/sahil0026/sportbooking-assignment">link</a></span>

<div>
	<h4>Notes:</h4>
	<ol>
		<li>Basic Unit testing with Jasmine framework</li>
		<li>Animation while navigation between tabs</li>
		<li>Last map search gets restored when coming back to Map tab</li>
	</ol>
</div>
<span></span>
</div>